/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #ffffff; /* Fondo claro */
}

/* Barra superior */
.text-left {
    font-size: 4rem;
    color: #90774b; /* Café que ya usaste */
    background: linear-gradient(90deg, #ffffff, #ffffff, #90774b, #ffffff);
}

/* Colores de tarjetas */
.total-ganado {
    background-color: #a3aab1; /* Gris oscuro */
}

.alimentacion-registrada {
    background-color: #c5a865; /* Dorado claro */
}

.alertas-activas {
    background-color: #a3aab1; /* Gris oscuro */
}

.text-left::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #90774b; /* Línea café */
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #bda66e; /* Café claro */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Espacio para el contenido principal */
.content-area {
    margin-left: 250px; /* Desplaza el contenido principal */
    padding: 20px;
    min-height: 100vh; /* Altura completa */
    background-color: #ffffff; /* Fondo claro */
    box-sizing: border-box;
}

/* Menú */
.menu-item {
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: left;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    transition: background-color 0.3s ease;
}

.menu-item:hover {
    background-color: #90774b; /* Fondo más oscuro */
}

/* Iconos de menú */
.menu-icon {
    width: 35px;
    height: 35px;
    filter: brightness(0); /* Íconos negros */
}
/* Línea debajo del título */
.sidebar::after {
    content: "";
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, #ffffff, #ffffff, #b08e4a);
    margin: 40px 0 20px;
    display: block;
}